@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

.navbar {
	width: 100%;
	color: #fff;
	background-color: #0653ac;
	height: 70px;
}

.navbar .container {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 70px;
}

nav {
	display: flex;
}

nav ul {
	display: flex;
	margin-right: 10px;
}

nav ul li {
	list-style: none;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 17px;
	margin: 0 10px;
}

.navbar .button a {
	text-decoration: none;
	background-color: #fff;
	color: #0d1bdb;
	padding: 6px 12px;
	border-radius: 5px;
	font-size: 17px;
}

.navbar .button a:hover {
	background-color: #ddd;
	transition: 2s ease;
}

.logo {
	position: absolute;
	left:40px; 
}

.button {
	position: absolute;
	right:50px;
}

/*
.image {

	width: 400px;
	height: 400px;
	object-position: left;
	display: flex;
}
*/

.benz {
	margin-top: 100px;
	text-align: center;

}

.first-box{
    display: flex;
    flex-direction: row;
  }
  .left-footer{
    flex-direction: column;
  }
  .right-footer{
    margin-left: auto;
    display: flex;
  }
  .info-footer{
    flex-direction: column;
    font-family: monospace;
    margin-right: 25px;
    width: 150px;
  }
  
  .follow{
    font-family: monospace;
    font-size:18px;
  }
  .contact-icon{
    margin-right: 5px;
  }
  .footer{
    margin-top: auto;
    
    }
.monospace{
    font-family: monospace;
}
body{
     width: 100%;
    background-color: #f2f5f7;
     min-height: 100vh;
    display: flex;
     flex-direction: column;
}

.grad {
	background-image: linear-gradient(rgb(255, 255, 255), rgb(107, 106, 106));
  }